/*Header*/
.subheader{
    margin-top: 12px;
    font-size: 12px;
    color: #fff;
}

#logo {
    width: 100%;
    max-width: 334px;
    height: auto;
    padding: 10px 0;
}

.head-text-right {
    text-align: right;
}
.head-text-right strong{
    text-align: left;
}

.head-text-right strong{
    color: #0f0f0f;
}
.head-text-right a{
    color: #0f0f0f;
}
    /*Navigation*/
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse {
    background-color: #ef8316;
    border-color: #ef8316;
    border: none;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fbbf00;
}
.navbar-inverse .navbar-toggle{
    border-color: #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ffffff;
}
.navbar-collapse a:hover {
    background: linear-gradient(to bottom, #ffcc00, #ff9000);;
}
.navbar-header a:hover {
    background: linear-gradient(to bottom, #ffcc00, #ff9000);;
}
/*Slider*/
.text-slider-header {
    font-size: 18px;
    font-weight: 600;
}

.text-slider-right {
    position: absolute;
    width: 315px;
    top: 20px;
    bottom: 20px;
    right: 15px;
    background-color: #fff;
    padding: 10px;
    color: #0f0f0f;
}
.carousel-list {
    width: 100%;
}

.carousel-indicators {
    position: relative;
    bottom: 0px;
    left: 0;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
}
.carousel-indicators li {
    background-color: #ddd;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    border: 0;
}
.carousel-indicators .active{
    width: 18px;
    height: 18px;
    margin: 0;
    background-color: #ef8316;
}

.wrap-slide {
    background: #f18216;
    /*background: radial-gradient(at bottom, #f1da36, #f18216);*/
    padding-bottom: 20px;

}

.left-slide {
    text-align: center;
}

.left-slide-top {
    width: 100%;
    padding: 0;
}

.left-slide-top img {
    width: 100%;
    height: auto;
}

.left-slide-middle {
    background: #f18216;
    color: #0f0f0f;
    background: linear-gradient(to bottom left, #f1da36, #f18216);
    padding: 10px;
}

.left-slide-bottom {
    background-color: #fff;
    padding: 1%;
}

.left-slide-bottom a {
    font-size: 19px;
    text-transform: uppercase;
    color: #0f0f0f;

}

.left-carousel {
    width: 40%;
    text-align: left;
}

.left-carousel img {
    width: 100%;
    height: auto;
}

.carousel-right {
    background: #5c5257;
    padding: 10px;
    position: absolute;
    width: 37%;
    right: 26px;
    top: 5%;
    bottom: 5%;
    z-index: 9999999;
}
.right-slider-bottom {
    background-color: transparent;
}

/*Footer*/
.footer-left-top {
    background-color: #ddd;
    font-weight: 700;
    font-size: 21px;
    padding: 10px 15px;
}

.left-shift {
    margin-left: 15px;
}

.footer-left-middle {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.footer-right {
    font-size: 18px;
    text-align: center;
}

.text-footer-head {
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
}

.catalog-load {
    padding-bottom: 10px;
}

.footer-catalog div {
    /*padding-top: 15px;*/
}

.footer-catalog img {
    width: 100%;
    height: auto;
    max-width: 250px;
    padding: 10px;
}

.footer-catalog, .footer-util, .footer-idea {
    color: #0f0f0f;
    background: #ef8316;
    border-radius: 0;
    border: none;
}

.footer-util {
    background-color: #ef8316;
    padding: 15px;
}

.footer-util a:hover {
    text-decoration: none;
}

#arrows-util:hover {
    /*-moz-transform: rotate(15deg); !* Для Firefox *!*/
    /*-ms-transform: rotate(15deg); !* Для IE *!*/
    /*-webkit-transform: rotate(15deg); !* Для Safari, Chrome, iOS *!*/
    /*-o-transform: rotate(15deg); !* Для Opera *!*/
    /*transform: rotate(15deg);*/
}

.footer-idea {
    background-color: #FBBF00;
}

.footer-idea:hover {
    background-color: #f0d835;
    cursor: pointer;
}

.footer-vault {
    background-color: #ef8316;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.footer-company {
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.live-lighter {
    text-align: center;
}
.live-lighter img{
    width: 100%;
    max-width: 226px;
    height: auto;
}

.menu-list-white {
    -webkit-padding-start: 0px;
    list-style-type: none;
}

.menu-list-white li {
    padding-bottom: 5px;
}

.menu-list-white a {
    color: #fff;
}
.btn {
    border-radius: 0;
}

.btn-ecola-white {
    color: #fff;
    background-color: #f18216;
    border-color: #fff;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-ecola-white:hover {
    color: #0f0f0f;
    background-color: #fff;
    border-color: #0f0f0f;
}

.btn-ecola-catalog {
    text-transform: uppercase;
    font-weight: 600;
    border-color: #fff;
    border-radius: 0px;
    background-color: #fff;
}

.btn-ecola-catalog:hover {
    color: #5c5257;
}

.btn-ecola-catalog .glyphicon {
    color: #ef8316;
}

/*Document Scroll arrow*/
.go-to-top {
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.go-to-top.btn-lg {
    padding: 10px 15px;
    border-radius: 3px;
}


.btn-primary {
    background-color: #5c5257;
    border-color: #000;
}

.btn-primary:hover {
    background-color: #fbbf00;
    border-color: #c16b15;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #000;
    border-color: #2b2a29;
}


/*Adaptive template*/
@media (min-width: 1200px) {
    .left-slide-bottom {
        padding: 13px;
    }

    .left-slide-middle {
        padding: 30px;
    }

    .footer-left-middle {
        font-size: 18px;
    }

    .footer-idea {
        padding: 14px 0px;
    }

    .text-upper-white {
        padding: 0px 20px;
    }

    .right-slider {

        margin-left: 15px;
    }

}

@media (max-width: 1200px) {
    .phone, .mail {
        font-size: 14px;
    }
    .footer-idea {
        padding: 21px 21px;;
    }

    .left-slide-bottom {
        padding: 10px;
    }
    .text-slider-right{
        width: 350px;
        top: 10px;
        bottom: 10px;
        padding: 10px;
    }

}

@media (max-width: 992px) {
    .wrap-slide {
        padding-bottom: 0;
    }

    .left-slide-bottom {
        padding: 1px;
    }

    .banner {
        display: none;
    }

    .footer-util {
        padding: 55px;
    }

    .footer-idea {
        padding: 19px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }
    #logo{
        max-width: 250px;
    }
    .btn-primary {
        background-color: #ef8316;
        border-color: #ef8316;
    }
    .navbar-header a:hover {
        background: #ff9000;
    }
    .banner {
        display: none;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
        top: 100%;
        display: none;
    }
    .wrap-slide {
        background: #fff;
    }
    .text-slider-right{
        position: relative;
        width: 100%;
        top: 0;
        bottom: 0;
        padding: 15px;
        right: 0;
        border-bottom:1px solid #9d9d9d;
    }

    .head-text-right {
        text-align: left;
    }

    .footer-company {
        border-bottom: 1px solid;
        border-top: 1px solid;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .footer-idea {
        padding: 5px;
    }

    .footer-util {
        padding: 15px;
    }
    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 14px;
        line-height: 1.4;
    }

    .footer-left-top {
        font-size: 16px;
    }

    .left-slide {
        display: none;
    }
}

/*Из файла */



h1 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0;
}

h2 {
    position: relative;
    font-size: 16px;
    padding: 13px 0 10px 10px;
    margin: -42px 13px 5px -26px;
    color: #fff;
    background-color: #ff7600;
    -webkit-box-shadow: 0px 2px 4px #888;
    -moz-box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 2px 4px #888;
}

h2:before, h2:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

h2:before {
    width: 30px;
    left: -30px;
    top: 12px;
    border-width: 20px 10px;
    border-style: solid;

}

h2:after {
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #d35400 #d35400 transparent transparent;
}

/*  1.Header    */
.header {
    background-color: #eee;
}

/*  4. About Area
/*----------------------------------------*/
.about-area {
    background: rgba(0, 0, 0, 0) url("img/banner/1.jpg") no-repeat scroll center top;
    color: #ffffff;
    margin-top: 140px;
    padding-bottom: 54px;
    position: relative;
}

.about-area:before {
    height: 110px;
    left: 0;
    right: auto;
    top: -20px;
    width: 49.2%;
}

.about-area:after {
    border-width: 55px 30px;
    left: 49.2%;
    top: -20px;
    right: auto
}

.about-area h3 {
    font-size: 30px;
    margin-bottom: 79px;
    padding-top: 22px;
    z-index: 9;
    position: relative;
}

.about-area p {
    font-family: "Raleway";
    line-height: 26px;
    margin-bottom: 42px;
}

/*----------------------------------------*/
/*  5. Course Area
/*----------------------------------------*/
.course-area .section-title-wrapper {
    margin-bottom: 122px;
}

.single-item-image a {
    display: inline-block;
}

.single-item-image {
    overflow: hidden;
    position: relative;
    text-align: center;
    top: -35px;
}

.overlay-effect a {
    position: relative
}

.overlay-effect a:before {
    background: rgba(45, 62, 80, 0.2) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    width: 100%;
}

.single-item:hover .overlay-effect a:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.single-item {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #ff7600;
    border-radius: 13px;
    padding: 0 35px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
    margin-top: 70px;
}

.single-item:hover {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.4);
}

.single-item-text h4 {
    font-size: 20px;
    padding-top: 7px;
    text-align: center;
}

.single-item-text h4 a, .single-item-text h4 {
    color: #2d3e50;
}

.single-item-text-info span {
    color: #696969;
    font-family: "montserratregular";
    margin-right: 11px;
}

.single-item-text-info span span {
    color: #2d3e50;
}

.single-item-text > p {
    color: #222222;
}

.single-item-content {
    margin-bottom: 44px;
    overflow: hidden;
    padding-top: 21px;
}

.single-item-text-info {
    margin-bottom: 18px;
    padding-top: 5px;
}

.single-item-comment-view span {
    color: #696969;
    display: inline-block;
    font-family: "montserratregular";
    font-size: 12px;
    margin-right: 17px;
}

.single-item-comment-view span:last-child {
    margin-right: 0
}

.single-item-comment-view > span i {
    font-size: 14px;
    margin-right: 8px;
}

.single-item-comment-view, .single-item-rating {
    display: inline-block;
}

.single-item-rating {
    color: #f3c30b;
    float: right;
    font-size: 16px;
}

.single-item-rating i {
    margin-left: 3px;
}

.single-item .button-default {
    padding: 8px 33px;
}

.button-bottom {
    margin-bottom: -19.5px;
    text-align: center;
}

.single-item:hover .button-default {
    background: #2d3e50 none repeat scroll 0 0;
}

.button-large.button-default {
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.2);
    font-size: 18px;
    margin-top: 83px;
    padding: 12px 18px;
    text-transform: capitalize;
}

.shortcode .button-large.button-default {
    margin-top: 40px
}

.button-default.button-large:hover {
    background: #2d3e50 none repeat scroll 0 0;
}

.button-large.button-default i {
    font-size: 28px;
    line-height: 20px;
    margin-left: 11px;
    position: relative;
    top: 4px;
}

/*----------------------------------------*/
/*Footer*/
.footer-vault {
    background-color: #ff7600;;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    border-top: 1px solid #d35400;
}

.footer-company {
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #2b2a29;
    font-weight: 600;

}

.live-lighter {
    text-align: center;
}

.live-lighter img {
    width: 100%;
    max-width: 226px;
    height: auto;
}

.menu-list-white {
    -webkit-padding-start: 0px;
    list-style-type: none;
}

.menu-list-white li {
    padding-bottom: 5px;
    font-weight: 600;
}

.menu-list-white a {
    color: #fff;
}


