.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* ÐŸÐ°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ñ‹ Ñ‚ÐµÐ½Ð¸ */

}

.phone, .mail {
    font-size: 18px;
}

.container {

}

#logo {
    width: 100%;
    max-width: 334px;
    height: auto;
    padding: 10px;
}

.head-text-right {
    text-align: right;
}

.one {
    background-color: #2b542c;
}

.two {
    background-color: #2e6da4;
}

.left-carousel {
    width: 40%;
    text-align: left;
}
.left-carousel img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .head-text-right {
        text-align: left;
    }
}


